* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffecec;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 8px;
}

.heading {
  font-family: monospace;
  font-size: 40px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #0073e6;
  font-family: "Times New Roman", Times, serif;
}

#news-list {
  list-style-type: none;
}

#news-list li {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: background-color 0.3s;
}

#news-list li:hover {
  background-color: #e9e9e9;
}

h1,
h2 {
  color: #0073e6;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

#news-list li p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

#news-list li a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #0073e6;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#news-list li a:hover {
  background-color: #005bb5;
}
